QMainWindow {
    background-color: #2e2e2e;
}

QLabel {
    color: #ffffff;
    font-size: 16px;
}

QPushButton {
    background-color: #5cb85c;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
}

QPushButton:hover {
    background-color: #4cae4c;
}

QDialog {
    background-color: #2e2e2e;
}